body {
	border-radius: 2px;
}

/*default style for app text*/
.app-text {
  font-family: 'Open Sans', sans-serif;
}

/*default style for app buttons*/
.app-button {
  background: #B900FF;
  color: #ffffff;
  border-radius: 2px;
}

.app-icon {
  padding-right: 4px;
}

.main-navbar {
	background: #FF9333;
	border-radius: 0;
}
#main-link {
	color: #ffffff;
}

.classList{
	list-style-type: none;
}
.classResults{
	background-color: #E8E8E8;
}
.class{
	background-color: #C4C4C4;
	width: 50%;
}
.classRed{
	background-color: #EB5757;
	width: 50%;
}
.classGreen{
	background-color: #6FCF97;
	width: 50%;
}
.className{
	margin-bottom: 5px;
}
.classSectionName{
	font-size: 14px;
	text-align: left;
}
.classTime{
	font-size: 10px;
	text-align: center;
}

.inputField {
	font-family: 'Open Sans', sans-serif;
	background: #f1f1f1;
	border: none;
	border-radius: 2px;
	box-shadow: none;
}
